<nav>
    <a href="/">Home</a> |
    <a href="/posts">Posts page</a> |
    <a href="/contactus">Contact us</a> |
    <a href="/create">New post</a>
</nav>

<!-- <script>
    var btnContainer = document.getElementById("navbar");
    var btns = btnContainer.getElementsByClassName("btn");

    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener('click', function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace("active")
        })
    }
</script> -->