* {
    font-family: 'Roboto Slab', serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0279c0; /*Overall background*/
}

a {
    color: #07aef8;		/*Hyperlink text color*/
}

.login-page {
	display: flex;
	align-items: center;
	justify-content: center;
    height: 100%;
    width: 100%;
}

#login-container {
	padding: 40px 100px;
    text-align: center;
    background-image: url(../images/postIt.png);
    background-size: 80px 80px;		/*Image size*/
    background-repeat: no-repeat;
    background-position: 12px 12px; /*Image location from the corner*/
    background-color: #ffffff;
}

#login-container form div > input {
    padding: 8px 15px;			/*Input cell size*/
    margin: 5px 0;
}

#login-container div > h5 {
	margin: 5px;
}

button {
    padding: 10px 15px; 		/*Top/Bottom px, Left/Right px button size*/
    margin: 5px 0px;			/*Outer edge size*/
    border: none;
    border-radius: 6px; 		/*Login button corner*/
    color: #ffffff; 			/*Button text color*/
    background-color: #0463b9;	/*Button background color*/
}

button:hover {
	background-color: #034784;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    background-color: #ffffff;
    align-items: center;
}

nav div{
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}

nav div img{
    height: 100%;
}

nav div.user img{
    float: right;
}

nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
nav div.search-container > button {
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: darkblue;
}

.flex-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 400px;
    padding: 20px;
    background-color: white;
    align-content: center;
}

section div{
    width: 100%;
    background-color: white;
}

section div.postHeader{
    height: 40px;
    text-align: right;
    
}

section div.postHeader img{
    float: left;
    height: 100%;
}

section .picture img{
    width: 100%;
}

section .like{
    height: 30px;
    border-width: 2px;
    border-color: black;
}

section .like img{
    height: 100%;
    float: left;
}





