* {
    font-family: 'Roboto Slab', serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0279c0; /*Overall background*/
}

a{
    color: #07aef8;		/*Hyperlink text color*/
}

.login-page {                   /*class*/
	display: flex;             /*flexbox*/
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#login-container {
	padding: 40px 100px;
    text-align: center;
    background-image: url(../images/postIt.png);
    background-size: 80px 80px;		/*Image size*/
    background-repeat: no-repeat;
    background-position: 12px 12px; /*Image location from the corner*/
    background-color: #ffffff;
    box-shadow: 10px 10px 50px -10px black;
}

#login-container form div > input {
    padding: 8px 15px;			/*Input cell size*/
    margin: 5px 0;
}

#login-container div > h5 {
	margin: 5px;
}


button {
    padding: 10px 15px; 		/*Top/Bottom px, Left/Right px button size*/
    margin: 5px 0px;			/*Outer edge size*/
    border: none;
    border-radius: 6px; 		/*Login button corner*/
    color: #ffffff; 			/*Button text color*/
    background-color: #0463b9;	/*Button background color*/
}

button:hover {                  /*pseudo-class*/
	background-color: #034784;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    background-color: #ffffff;
    align-items: center;
}

nav div{                /*Descendant combinator*/
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}

nav div img{
    height: 100%;
}

nav div.user-container img{
    float: right;
    cursor: pointer;
}

nav div.search-container > input { /*Child Selector*/
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
nav div.search-container > button { /*Child Selector*/
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: darkblue;
}

.box{                                   /*Little containers*/
    margin-top: 55px;
    background-color: white;
    width: 75%;                          /*Container width is 75% of whole white background*/
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 10px 10px 50px -10px gray;
}

img{                                  /*Image box, so it doesn't overflow*/
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#postHeader {                         /*Every post's header:  time and user icon*/
    /*position: relative;*/
    top: -23px;
    height: 20px;
    background: url(../images/usericon.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left top;
    text-align: right;
    color: gray;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

div h6 {                           /*All timestamps are gray*/
    color: gray;
}                                


#picPost {                       /*Image's atrributes*/
    top: -15px;
    height: 112px;
    width: 199px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    margin: auto;
}

#postFooter {                  /*All posts have a footer*/
    background-color: white;
    height: 40px;
    background: url(../images/like.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left bottom;
    display: block;
    font-size: 14px;
    font-weight: bold;
}
#post {                        /*Text post's attributes*/
    position: relative;
    bottom: 30px;
    height: 40px;
}
.like {                     
    position: relative;
    bottom: 1px;
    height: 15px;
}

.main-container{                   /*Main flex container*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: white;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.drop-down-container {
    position: absolute;
    min-width: 150px;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    right: 0;
    top: 50px;
    text-align: left;
    display: none;
}