<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header class="header">
        <%- include('../partials/header'); %>
    </header>
    <div class="home">
        <h1> WELCOME </h1>
        <h1> TO OUR PAGE </h1>
        <p> Here you can share your thoughts </p>
    </div>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>